[submodule "poly2tri"]
	path = poly2tri
	url = https://github.com/brandon-kohn/poly2tri.git
[submodule "geometrix"]
	path = geometrix
	url = https://github.com/brandon-kohn/geometrix.git
[submodule "nlopt"]
	path = nlopt
	url = https://github.com/brandon-kohn/nlopt.git
[submodule "clipper-lib"]
	path = clipper-lib
	url = https://github.com/brandon-kohn/clipper-lib.git
[submodule "turf"]
	path = turf
	url = https://github.com/brandon-kohn/turf.git
	branch = master
[submodule "junction"]
	path = junction
	url = https://github.com/brandon-kohn/junction.git
	branch = master
